body{
    background-color:#1f242d;
    max-height: 300px;
    cursor:default;
}
*{ margin: 0;
    padding: 0;
    font-family:poppins;
}
left::marker{
    color:aqua;
}
header{
    background-color:#323946;
    border-radius: 10px;
    margin-top: -10vw;
    height: 4em;;
    width:100%;
    z-index: 1;
    position:fixed;
    
}
.header{
    position: fixed;
    top:20px;
    margin-bottom: 1vw;
    display:flex;
    justify-content: space-between;
    background-color:#323946;
}
.port{
    animation: ease-in;
    animation-name: logo;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 

   position: fixed; 
    margin-left: 10%;
    
}
h1{
    font-size: 20px;
    color: white;
}
.navbar{ 
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: navbar;
    animation-duration: 2s;
    animation-iteration-count: 1;
   position: fixed;
   right:0;
  
}
.navbar a{
    padding: 10px;
    border:1px solid;
    border-radius:20px;
    border:none;
    margin-left:10px;
    font-weight: 600;
    text-decoration: none;
    color:white;
}
.navbar a:hover,
.navbar a.active
{ box-shadow: 0 0 30px aqua;
    transition: 0.1s;
    background-color:aqua;
    color:#1f242d;
}

#menu{
    display: none;
}
.dropdown{
    display: none;
} 
@keyframes logo{
    0%{
     transform: translateX(-100px);
    }
    100%{
        transform:translateX(0) ;
    }
}
@keyframes navbar{
    0%{
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
@media  screen and (max-width:700px) {

    .port{
        margin-left: 0.3vw;
    }
    
}
@media  screen and (max-width:500px) {
    body{
        max-width:400px;
    }
    *{margin: 0;
      padding: 0;
}
     h1{
        font-size: 30px;
        left:30%;
        margin:-10px;
        position :fixed;
       }
       .section{
        margin: 0;
       }
       .navbar {
        display: none;
        }
        #menu{
            padding: 0.1em;
            position: fixed;
            display:block;
        }
        .dropdown{
            margin: 10px;
            margin-left: 20px;
            text-align: center;
            border: 2px solid aqua;
            background-color: #323946;
            
        }
        .dropdown a{
           /* display: none;*/
           display: block;
           width: 300px;
           color: aqua;
           font-weight: 700;
           padding: 4px 0;
           text-decoration: none;
           background-color:transparent;
           border: 1px solid aqua;
           transition: 0.3s;
        }
        #menu:hover{
            left:0%;
        }
        #menu:hover .dropdown{
            display: block;
        }
        a:hover, a.active{
            box-shadow: 0 0 10px aqua;
            color:#1f242d;
            font-weight: 600;
            background-color: aqua;
            
            
        }
    }